<div id="breadcrumbs">
  {% assign crumbs = page.url | remove:'/index.html' | split: '/' %}
  <a href="/">Home</a>
  {% if page.categories and page.categories.size > 0 %}
    {% for category in page.categories %}
      / <a href="/{{ category | downcase }}/">{{ category | capitalize }}</a>
    {% endfor %}
  {% endif %}
  {% for crumb in crumbs offset: 1 %}
    {% if forloop.last %}
      / {{ page.title }}
    {% else %}
      / <a href="{% assign crumb_limit = forloop.index | plus: 1 %}{% for crumb in crumbs limit: crumb_limit %}{{ crumb | append: '/' }}{% endfor %}">{{ crumb | replace:'-',' ' | remove:'.html' | capitalize }}</a>
    {% endif %}
  {% endfor %}
</div>

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [
    {
      "@type": "ListItem",
      "position": 1,
      "name": "Home",
      "item": "{{ '/' | absolute_url }}"
    }
    {% if page.categories and page.categories.size > 0 %}
      {% for category in page.categories %}
      ,{
        "@type": "ListItem",
        "position": {{ forloop.index | plus: 1 }},
        "name": "{{ category | capitalize }}",
        "item": "{{ '/' | append: category | downcase | append: '/' | absolute_url }}"
      }
      {% endfor %}
    {% endif %}
    {% for crumb in crumbs offset: 1 %}
    ,{
      "@type": "ListItem",
      "position": {{ forloop.index | plus: page.categories.size | plus: 1 }},
      "name": "{{ crumb | replace:'-',' ' | remove:'.html' | capitalize }}",
      "item": "{% assign base_url = site.baseurl | default: '/' %} {% assign crumb_path = base_url %} {% assign crumb_limit = forloop.index | plus: 1 %} {% for crumb in crumbs limit: crumb_limit %} {% assign crumb_path = crumb_path | append: crumb | append: '' %} {% endfor %} {{ crumb_path | absolute_url }}"
    }
    {% endfor %}
  ]
}
</script>